@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --starship:#F3DB4C;
  --Mineshaft: #343434;
  --Husk:#B2A443;
  --Sycamore: #94843C;
  --white: #fff;
  --max-width: 1400px;
  --padding: 8px;
  --margin: 10px;
  --border-radius: 8px;
  --transition: 1s;
  --font-size: 16px;
}

/* seudos elementos */

::selection {
  background-color: var(--starship);
  color: var(--white);
}

/* selector */
body{
background-color: var(--Mineshaft);
color: var(--white);
font-size: var(--font-size);
font-family: "Kanit", sans-serif;
line-height: 24px;
}

header{
  text-align: center;
  background-color: var(--Mineshaft);
  color: var(--starship);
  border-bottom: solid 1px var(--Husk);
  padding: var(--padding);
  margin-bottom: var(--margin);
}