*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor_principal {
    max-width: 1600px;
    margin: 0 auto;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.layout {
    display: grid;
    grid-template-areas: "form grid-container";
    grid-template-columns: 400px 1fr; /* 400px es un tamaño fijo y el otro es auto con 1fr */
    gap: 1rem; /* por defecto es de 16px*/
}

table {
    width: 100%;
    border-collapse: collapse; /*los bordes de la tabla se combinan en uno solo */
}

th, td{
    border: 2px solid #f74780;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ffb3c6;
}

form{
    background-color: #ffb3c6;
    border:  solid 5px #f74780;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 14px;
    border-radius: 10px;
}

input, select, button{
    padding: 12px;
    border:solid 2px #f74780;
    border-radius: 8px;
    outline: none; 
}

button{
    margin-top: 30px;
}

button{
    background-color: #ff8fab;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #fb6f92;
    color: white;
}

label{
    color:  #000000;
    font-size: 16px;
}

.error {
    border: solid 2px #bd0003;
}

.correcto {
    border: solid 2px #5ccb5f;
}

.error-message {
    color: #bd0003;
}

.button__checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

button[disabled] {
    cursor: not-allowed;
    opacity: 0.5; /* Para que se vea deshabilitado */
}
